/*----- CSS - GLOBALES -----*/
*{
    box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	color: white;
}
div a img{
	opacity: 1;
}
div a img:hover{
	opacity: 0.5;
}
body{
	background-color: #5131E8;
}
img{
	width: 100%;
}
li{
    list-style-type: none;
}
.peliculas img{
	max-height: 250px;
}
h2{
	padding-left: 15px;
}

/*----- CSS - HEADER -----*/
.header{
	background-color: black;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.logo{
	width: 30%;
	padding: 10px;
}
.menu .opciones{
	width: 100%;
	text-align: center;
}
.opciones li a{
  color: white;
	text-decoration: none;
}
.opciones li a:hover{
	text-decoration: underline;
}

.buscador{
	color: white;
	background-color: #5131E8;
	text-align: center;
	display: none;
	border-radius: 20px;
}

/*----- CSS - FOOTER -----*/
.footer{
	display: flex;
	background-color: black;
	color: 	white;
	justify-content: space-around;
}
.redes h2 a{
	text-decoration: none;
	color: white;
}

/*----- CSS - SLIDER -----*/
.slider {
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;	
	animation: cambio 15s infinite alternate linear;
	display: none;
}

.slider li {
	width: 100%;
	list-style: none;
}
.slider img {
	width: 100%;
}
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*----- CSS - ESTRENOS -----*/
.estrenos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	text-align: center;
	width: 100%;
}
.estrenos div img{
	border-radius: 10px;
}

/*----- CSS - TENDENCIAS -----*/
.tendencias{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	text-align: center;
	width: 100%;
}
.tendencias div img{
	border-radius: 10px;
}

/*----- CSS - NO TE PODES PERDER -----*/
.noperder{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	text-align: center;
	width: 100%;
}
.noperder div img{
	border-radius: 10px;
}

/*----- CSS - SERIES -----*/
.series {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	text-align: center;
	width: 100%;
}
.series div img{
	border-radius: 10px;
}

/*----- CSS - GRANDE -----*/
@media(min-width: 1024px){
	/*----- HEADER -----*/
	.logo{
		width: 10%;
	}
	.menu .opciones{
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	.buscador{
		display: inline;
	}

	/*----- HOME -----*/
	.peliculas img{
		max-height: 350px;
	}
	.estrenos{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 10px;
	}
	.tendencias{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 10px;
	}
	.noperder{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 10px;
	}
	.series{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 10px;
	}

	/*----- SLIDER -----*/
	.slider {
		width: 100%;
		margin: 0;
		overflow: hidden;
		height: 520px;
	}
	.slider ul {
		display: flex;
		padding: 0;
		width: 400%;	
		animation: cambio 10s infinite alternate linear;
	}
	.slider li {
		width: 100%;
		list-style: none;
	}
	.slider img {
		width: 100%;
		max-height: 500px;
	}
	@keyframes cambio {
		0% {margin-left: 0;}
		20% {margin-left: 0;}
		
		25% {margin-left: -100%;}
		45% {margin-left: -100%;}
		
		50% {margin-left: -200%;}
		70% {margin-left: -200%;}
		
		75% {margin-left: -300%;}
		100% {margin-left: -300%;}
	}
}